/Users/owner/JS101- Small problems/package-lock.json
/Users/owner/JS101- Small problems/node_modules
/Users/owner/JS101- Small problems/Easy1/node_modules
/Users/owner/JS101- Small problems/Easy1/package-lock.json